:root {
    /*--color-grid-bg: #cda2b7;*/
    --color-grid-bg: #bcd0dd;
    --color-title: red;
    --color-button-bg: #2199e8;
    --color-control-box-bg: #d1d5da;
    --color-data-lines-bg: white;
}
